@import url('https://fonts.googleapis.com/css?family=Poppins');

.DemoFullSite * {
 font-family: 'Popins', Helvetica, sans-serif;
}
.ignore {
    background-color: #222;
    padding: 20px 0;
    color: #fff;
}
.ignore span {
    font-style: italic;
    letter-spacing: 1px;
    font-size: 12px;
    color: #fff;
    display: block;
}
.btn-outline-primary {
    border-color: #61DAFB;
    color:#61DAFB;
}
.primary, #basic-nav-dropdown {
    color:#61DAFB;
}
button.outline-primary {   
    border-color: #61DAFB;
    color: #61DAFB
}
button.primary {
    background-color:#61DAFB;
    color:#fff
}
.jumbotron h2,.jumbotron p {
    color: #fff;
}
.jumbotron {
    background: url(https://picsum.photos/2000/600) no-repeat center center;
    padding:8rem 2rem;
    position: relative;
}
.overlay {
    position: absolute;
    background:rgba(0,0,0,.4);
    top: 0;
    bottom:0;
    left:0;
    right:0;
}
.margin-lg {
    margin: 100px auto;
}